@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-poppins: "Poppins", sans-serif;

  /* colors */
  --united-nations-blue: hsl(214, 56%, 58%);
  --bright-navy-blue: hsl(214, 57%, 51%);
  --black-coral: hsl(225, 8%, 42%);
  /* --oxford-blue: hsl(208, 97%, 12%); */
  --yale-blue: hsl(214, 72%, 33%);
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: hsl(206, 34%, 20%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);
  --oxford-blue: rgb(40, 55, 73);

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(8px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
}
a {
  text-decoration: none;
}

.h1,
.h2,
.h3 {
  font-weight: var(--fw-800);
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

button,
ion-icon {
  display: block;
}

.container {
  padding-inline: 15px;
}

.section-subtitle {
  color: var(--bright-navy-blue);
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  margin-bottom: 8px;
}

.section-title {
  margin-bottom: 15px;
}

.section-text {
  color: var(--black-coral);
  margin-bottom: 30px;
}

input[type="text"]:focus {
  --tw-ring-offset-width: 0;
  --tw-ring-offset-shadow: none;
}

input[type="tel"]:focus {
  --tw-ring-offset-width: 0;
  --tw-ring-offset-shadow: none;
}

input[type="tel"] {
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  padding-left: 14px;
  padding-right: 0;
}

.MuiFormControl-root {
  width: 100%;
}

[type="checkbox"]:focus:not(:focus-visible) {
  @apply focus:ring-0 focus:ring-offset-0;
}

[type="checkbox"]:focus-visible {
  @apply ring-2 ring-offset-2;
}

/*-----------------------------------*\
   * #PACKAGE
  \*-----------------------------------*/

.package {
  padding-block: var(--section-padding);
}

.package {
  background-color: #e8ecf4;
}

.package-list {
  margin-bottom: 40px;
}

.package-list > li:not(:last-child) {
  margin-bottom: 30px;
}

.package-card {
  background: var(--cultured);
  overflow: hidden;
  border-radius: 15px;
}

.package-card .card-banner {
  height: 250px;
}

.package-card .card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.package-card .card-content {
  padding: 30px 20px;
}

.package-card .card-title {
  margin-bottom: 15px;
}

.package-card .card-text {
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-meta-list {
  background: var(--white);
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
  border-radius: 50px;
}

.card-meta-item {
  position: relative;
}

.card-meta-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  bottom: 4px;
  width: 1px;
  background: hsla(0, 0%, 0%, 0.3);
}

.meta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 9px;
  color: var(--black-coral);
  font-size: var(--fs-8);
}

.meta-box > ion-icon {
  color: var(--bright-navy-blue);
  font-size: 13px;
}

.package-card .card-price {
  background: var(--oxford-blue);
  color: var(--white);
  padding: 25px 20px;
  text-align: center;
}

.package-card .card-price .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 10px;
}

.package-card .card-price .reviews {
  font-size: var(--fs-5);
}

.package-card .card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  font-size: 14px;
}

.package-card .card-rating ion-icon:last-child {
  color: hsl(0, 0%, 80%);
}

.package-card .price {
  font-size: var(--fs-2);
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-800);
  margin-bottom: 20px;
}

.package-card .price span {
  font-size: var(--fs-7);
  font-weight: initial;
}

.package .btn {
  margin-inline: auto;
}

/*-----------------------------------*\
   * #FOOTER
  \*-----------------------------------*/

.footer-top {
  background: var(--gunmetal);
  padding-block: var(--section-padding);
  color: var(--gainsboro);
  height: auto;
  padding-top: 1px;
}

.footer-brand {
  margin-bottom: 10px;
  margin-top: 120px;
}

.footer-brand img {
  width: 80px;
}

.footer-brand .logo {
  margin-bottom: 20px;
}

.footer-text {
  font-size: var(--fs-5);
  line-height: 1.9;
}

.footer-contact {
  margin-bottom: 0px;
  margin-top: 120px;
}

.contact-title {
  position: relative;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-500);
  margin-bottom: 30px;
}

.contact-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--bright-navy-blue);
}

.contact-text {
  font-size: var(--fs-5);
  margin-bottom: 15px;
  max-width: 200px;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-item ion-icon {
  --ionicon-stroke-width: 40px;
}

.contact-link,
address {
  font-style: normal;
  color: var(--gainsboro);
  font-size: var(--fs-5);
}

.contact-link:is(:hover, :focus) {
  color: var(--white);
}

.form-text {
  font-size: var(--fs-5);
  margin-bottom: 20px;
  margin-top: 120px;
}

.footer-form .input-field {
  background: var(--white);
  font-size: var(--fs-5);
  padding: 15px 20px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.footer-form .btn {
  width: 100%;
}

.footer-bottom {
  --gunmetal: hsl(205, 36%, 17%);
  background: var(--gunmetal);
  padding-block: 20px;
  text-align: center;
}

.copyright {
  color: var(--gainsboro);
  font-size: var(--fs-5);
  margin-bottom: 10px;
}

.copyright a {
  color: inherit;
  display: inline-block;
}

.copyright a:is(:hover, :focus) {
  color: var(--white);
}

.footer-bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.footer-bottom-list > li {
  position: relative;
}

.footer-bottom-list > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -10px;
  bottom: 3px;
  width: 1px;
  background: hsla(0, 0%, 100%, 0.2);
}

.footer-bottom-link {
  color: var(--gainsboro);
  font-size: var(--fs-7);
  transition: var(--transition);
}

.footer-bottom-link:is(:hover, :focus) {
  color: var(--white);
}

.btn-secondary {
  border-color: var(--white);
}

.btn-secondary:is(:hover, :focus) {
  background: hsla(0, 0%, 100%, 0.1);
}

/*-----------------------------------*\
   * #MEDIA QUERIES
  \*-----------------------------------*/

@media (min-width: 580px) {
  .container {
    max-width: 580px;
    margin-inline: auto;
  }

  .btn {
    --fs-5: 16px;
    --padding: 12px 30px;
  }

  section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
    text-align: center;
  }

  .section-text {
    margin-bottom: 40px;
  }

  .card-text {
    --fs-5: 15px;
  }

  /**
     * POPULAR
     */

  .popular-card .card-content {
    right: auto;
  }

  /**
     * FOOTER
     */

  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .footer-form {
    grid-column: span 2;
  }

  .footer-bottom {
    text-align: left;
  }

  .copyright {
    margin-bottom: 0;
  }

  .footer-bottom-list {
    justify-content: flex-end;
  }
}

/**
   * responsive for larger than 768px screen
   */

@media (min-width: 768px) {
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * typography
       */

    --fs-5: 15px;
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 800px;
  }

  .section-text {
    max-width: 60ch;
    margin-inline: auto;
  }

  /**
     * POPULAR
     */

  .popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
  }

  .popular-list > li:not(:last-child) {
    margin-bottom: 0;
  }

  .popular-card .card-content {
    right: 20px;
  }

  /**
     * PACKAGE
     */

  .package-list {
    margin-bottom: 50px;
  }

  .package-list > li:not(:last-child) {
    margin-bottom: 40px;
  }

  .package-card {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1fr;
  }

  .package-card .card-banner {
    height: 100%;
  }

  .package-card .card-content {
    padding: 40px;
  }

  .package-card .card-price {
    display: grid;
    place-content: center;
  }

  .package-card .card-price .wrapper {
    margin-bottom: 15px;
  }

  /**
     * FOOTER
     */

  .form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .footer-form .input-field {
    margin-bottom: 0;
  }

  .footer-form .btn {
    width: max-content;
  }
}

/**
   * responsive for larger than 992px screen
   */

@media (min-width: 992px) {
  /**
     * REUSED STYLE
     */

  .container {
    max-width: 1050px;
  }

  /**
     * POPULAR
     */

  .popular-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
     * PACKAGE
     */

  .meta-box {
    --fs-8: 13px;
  }

  .meta-box > ion-icon {
    font-size: 15px;
  }

  /**
     * FOOTER
     */

  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  .footer-form {
    grid-column: unset;
  }

  .form-wrapper {
    flex-direction: column;
  }

  .footer-form .btn {
    width: 100%;
  }
}

/**
   * responsive for larger than 1200px screen
   */

@media (min-width: 1200px) {
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * spacing
       */

    --section-padding: 80px;
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 1180px;
  }
}
